<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>NavBar</title>
    <link href="/components/index.css" rel="stylesheet">
    <script src="/components/index.js" type="module" defer></script>
    <style>
        .orui-custom-icon-container{
            display: flex;
            gap: 1rem;
            justify-content: right;
        }
    </style>
</head>
<body style="background-color: #eeeeee">

<script type="module">
    import {NavBarDemo} from "./demo.js";
    document.body.appendChild(NavBarDemo())
</script>
</body>
</html>